/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-sprockets";

.link_title {
	color: #0096d4;
}

.url {
	color: #00ac5b;
}
.link_title:hover {
	color: #0096d4;
	text-decoration: none;
}

.link_title:visited {
	color: #0096d4;
}

.search-bar {
	width: 600px;
	display: inline-block;
	padding: 0px auto;
}

.home-logo {
	height: 150px;
	display: block;
	margin: 0px auto;
}

.home-layout {
	margin-top: 100px;
}

.search-btn {
	display: inline-block;
	float: center;
	margin: 0px auto;
}

.query {
	width: 600px;
	margin: 20px auto;
	display: inline-block;
	padding: 0px;
	float: center;
	

}

.pages {
	margin-top: 20px;
}

.results-search {
	display: inline;
	width: 350px;
}

.somethin {
margin-bottom: 30px;
}

.results-page {
	margin-top: 20px;
	margin-bottom: 20px;
}

.hotlink {
	margin-bottom: 20px;
}

.results-body {
	padding-left: 15px;

}

.search-logo {
	height: 20px;
	margin-right: 5px;
}

/*.hey {
	background-color: #d3d3d3;
	top: 0px;
	left: 0px;
	margin:;
}*/

li {
	display: inline;
	padding-right: 20px;

}

/*.navigation {

	width: 100%;
	height: 40px;
	background-color: #d3d3d3;
}*/

.oi {

	background-color: white;
}
